flows.json
[
    {
        "id": "b0e536c669b6d97c",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4d8f9b2cb84b3b7",
        "type": "inject",
        "z": "b0e536c669b6d97c",
        "name": "Simular Dados do Sensor",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "{\"current\": 2.5, \"temperature\": 22.5, \"humidity\": 60}",
        "payloadType": "json",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "adabced47257913f"
            ]
        ]
    },
    {
        "id": "adabced47257913f",
        "type": "function",
        "z": "b0e536c669b6d97c",
        "name": "Validar Dados",
        "func": "var current = msg.payload.current;\nvar temperature = msg.payload.temperature;\nvar humidity = msg.payload.humidity;\n\nif (current == undefined || temperature == undefined || humidity == undefined) {\n    msg.payload = 'Erro: Dados incompletos';\n    return [null, msg];\n}\n\nif (current < 0 || temperature < -50 || temperature > 50 || humidity < 0 || humidity > 100) {\n    msg.payload = 'Erro: Dados fora dos limites';\n    return [null, msg];\n}\n\nmsg.payload = { current: current, temperature: temperature, humidity: humidity };\nreturn [msg, null];",
        "outputs": 2,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "504e857d4f9a3593"
            ],
            [
                "b1b28926c1e5f44b"
            ]
        ]
    },
    {
        "id": "504e857d4f9a3593",
        "type": "mysql",
        "z": "b0e536c669b6d97c",
        "mydb": "dbConfig",
        "name": "Inserir Dados no Banco",
        "x": 730,
        "y": 100,
        "wires": [
            [
                "b6a23bfb3dfe5671"
            ]
        ]
    },
    {
        "id": "b6a23bfb3dfe5671",
        "type": "function",
        "z": "b0e536c669b6d97c",
        "name": "IA para Dicas de Economia de Energia",
        "func": "var current = msg.payload.current;\nvar temperature = msg.payload.temperature;\nvar humidity = msg.payload.humidity;\n\n// Exemplo básico de IA para dicas de economia\nvar dica = '';\nif (current > 3) {\n    dica = 'Consumo alto! Desligue dispositivos não essenciais.';\n} else if (temperature > 25) {\n    dica = 'Temperatura elevada! Considere ligar ventiladores ou ar condicionado.';\n} else if (humidity > 70) {\n    dica = 'Alta umidade! Use desumidificadores para reduzir o consumo.';\n} else {\n    dica = 'Bom consumo! Continue monitorando.';\n}\n\nmsg.payload = { dica: dica, current: current, temperature: temperature, humidity: humidity };\nreturn msg;",
        "outputs": 1,
        "x": 1070,
        "y": 100,
        "wires": [
            [
                "f4b8d1b9a42d9874"
            ]
        ]
    },
    {
        "id": "f4b8d1b9a42d9874",
        "type": "debug",
        "z": "b0e536c669b6d97c",
        "name": "Dicas para o Usuário",
        "active": true,
        "x": 1280,
        "y": 240,
        "wires": []
    },
    {
        "id": "b1b28926c1e5f44b",
        "type": "debug",
        "z": "b0e536c669b6d97c",
        "name": "Erro de Dados",
        "active": true,
        "x": 800,
        "y": 300,
        "wires": []
    }
]