fluxo.json
[
    {
        "id": "279a9e0c810c8d9f",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7577f514e03e76e",
        "type": "mqtt in",
        "z": "279a9e0c810c8d9f",
        "name": "Consumo de Energia",
        "topic": "home/energy/consumption",
        "qos": "2",
        "datatype": "auto",
        "broker": "e22d56b2.8f206",
        "inputs": 0,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "02896783b486f99b"
            ]
        ]
    },
    {
        "id": "02896783b486f99b",
        "type": "ui_gauge",
        "z": "279a9e0c810c8d9f",
        "name": "Consumo de Energia",
        "group": "fd14e256.f8f3a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Consumo de Energia",
        "label": "A",
        "format": "{{value}} A",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "15",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "29d5ad1f054a6bfb",
        "type": "mqtt in",
        "z": "279a9e0c810c8d9f",
        "name": "Temperatura",
        "topic": "home/sensors/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "e22d56b2.8f206",
        "inputs": 0,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "5e119181f4d2dddc"
            ]
        ]
    },
    {
        "id": "5e119181f4d2dddc",
        "type": "ui_gauge",
        "z": "279a9e0c810c8d9f",
        "name": "Temperatura",
        "group": "fd14e256.f8f3a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}} °C",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "40",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "a1f1ca68e0b5155d",
        "type": "ui_button",
        "z": "279a9e0c810c8d9f",
        "name": "Ligar Dispositivo",
        "group": "fd14e256.f8f3a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ligar",
        "color": "",
        "bgcolor": "#00ff00",
        "icon": "fa-lightbulb-o",
        "payload": "ON",
        "payloadType": "str",
        "topic": "home/energy/control",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "e0eaae7c871a1331"
            ]
        ]
    },
    {
        "id": "7c5f86b60204c796",
        "type": "ui_button",
        "z": "279a9e0c810c8d9f",
        "name": "Desligar Dispositivo",
        "group": "fd14e256.f8f3a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desligar",
        "color": "",
        "bgcolor": "#ff0000",
        "icon": "fa-lightbulb-o",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "home/energy/control",
        "x": 500,
        "y": 360,
        "wires": [
            [
                "e0eaae7c871a1331"
            ]
        ]
    },
    {
        "id": "e0eaae7c871a1331",
        "type": "mqtt out",
        "z": "279a9e0c810c8d9f",
        "name": "Controle Dispositivo",
        "topic": "home/energy/control",
        "qos": "2",
        "retain": "false",
        "broker": "e22d56b2.8f206",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "bb5161bcb64ef097",
        "type": "mqtt in",
        "z": "279a9e0c810c8d9f",
        "name": "Umidade",
        "topic": "home/sensors/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "e22d56b2.8f206",
        "inputs": 0,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "83349d8ff96e9d76"
            ]
        ]
    },
    {
        "id": "83349d8ff96e9d76",
        "type": "ui_gauge",
        "z": "279a9e0c810c8d9f",
        "name": "Umidade",
        "group": "fd14e256.f8f3a",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}} %",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "b4960f8ed7033fc7",
        "type": "rbe",
        "z": "279a9e0c810c8d9f",
        "name": "Verificar Consumo",
        "func": "return msg.payload > 15 ? msg : null;",
        "x": 980,
        "y": 140,
        "wires": [
            [
                "9afd8ceea3461bee"
            ]
        ]
    },
    {
        "id": "9afd8ceea3461bee",
        "type": "ui_text",
        "z": "279a9e0c810c8d9f",
        "group": "fd14e256.f8f3a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Mensagem de Alerta",
        "x": 1220,
        "y": 140,
        "wires": []
    },
    {
        "id": "e22d56b2.8f206",
        "type": "mqtt-broker",
        "name": "Broker MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "fd14e256.f8f3a",
        "type": "ui_group",
        "name": "Controle de Energia",
        "tab": "6f7497c8.2efbc4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6f7497c8.2efbc4",
        "type": "ui_tab",
        "name": "Monitoramento",
        "icon": "dashboard",
        "order": 1
    }
]